@page
@model Library_System.Pages.BorrowDetails.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BorrowDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BorrowDetail.BorrowId" />
            <div class="form-group">
                <label asp-for="BorrowDetail.AccountId" class="control-label"></label>
                <select asp-for="BorrowDetail.AccountId" class="form-control" asp-items="ViewBag.AccountId"></select>
                <span asp-validation-for="BorrowDetail.AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowDetail.BookId" class="control-label"></label>
                <select asp-for="BorrowDetail.BookId" class="form-control" asp-items="ViewBag.BookId"></select>
                <span asp-validation-for="BorrowDetail.BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowDetail.BorrowDate" class="control-label"></label>
                <input asp-for="BorrowDetail.BorrowDate" class="form-control" />
                <span asp-validation-for="BorrowDetail.BorrowDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowDetail.ReturnDate" class="control-label"></label>
                <input asp-for="BorrowDetail.ReturnDate" class="form-control" />
                <span asp-validation-for="BorrowDetail.ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowDetail.Status" class="control-label"></label>
                <select asp-for="BorrowDetail.Status" class="form-control" asp-items="ViewBag.Status"></select>
                <span asp-validation-for="BorrowDetail.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowDetail.DeleteAt" class="control-label"></label>
                <input asp-for="BorrowDetail.DeleteAt" class="form-control" />
                <span asp-validation-for="BorrowDetail.DeleteAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
