@page
@model Library_System.Pages.Accounts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account.UserName" class="control-label"></label>
                <input asp-for="Account.UserName" class="form-control" />
                <span asp-validation-for="Account.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.PassWord" class="control-label"></label>
                <input asp-for="Account.PassWord" class="form-control" />
                <span asp-validation-for="Account.PassWord" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Account.Gender" /> @Html.DisplayNameFor(model => model.Account.Gender)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Account.Email" class="control-label"></label>
                <input asp-for="Account.Email" class="form-control" />
                <span asp-validation-for="Account.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Phone" class="control-label"></label>
                <input asp-for="Account.Phone" class="form-control" />
                <span asp-validation-for="Account.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Address" class="control-label"></label>
                <input asp-for="Account.Address" class="form-control" />
                <span asp-validation-for="Account.Address" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Account.IsAdmin" /> @Html.DisplayNameFor(model => model.Account.IsAdmin)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Account.DeleteAt" class="control-label"></label>
                <input asp-for="Account.DeleteAt" class="form-control" />
                <span asp-validation-for="Account.DeleteAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
