@page
@model Library_System.Pages.Accounts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Account.UserId" />
            <div class="form-group">
                <label asp-for="Account.UserName" class="control-label"></label>
                <input asp-for="Account.UserName" class="form-control" readonly />
                <span asp-validation-for="Account.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Password" class="control-label"></label>
                <input type="password" id="visiblePassword" oninput="updateHiddenPassword()" />
                <input type="hidden" asp-for="Account.Password" id="hiddenPassword" />

                <span asp-validation-for="Account.Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Account.Gender" /> @Html.DisplayNameFor(model => model.Account.Gender)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Account.Email" class="control-label"></label>
                <input asp-for="Account.Email" class="form-control" readonly />
                <span asp-validation-for="Account.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Phone" class="control-label"></label>
                <input asp-for="Account.Phone" class="form-control" readonly />
                <span asp-validation-for="Account.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Address" class="control-label"></label>
                <input asp-for="Account.Address" class="form-control" />
                <span asp-validation-for="Account.Address" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Account.IsAdmin" /> @Html.DisplayNameFor(model => model.Account.IsAdmin)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Account.DeleteAt" class="control-label"></label>
                <input asp-for="Account.DeleteAt" class="form-control" />
                <span asp-validation-for="Account.DeleteAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

<script>
    function updateHiddenPassword() {
        var hiddenPassword = document.getElementById('visiblePassword').value;
        document.getElementById('hiddenPassword').value = hiddenPassword;
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
