@page
@model Library_System.Pages.CartModel
@{
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row w-100">
            <div class="col-lg-12 col-md-12 col-12">
                <h3 class="display-5 mb-2 text-center">Book Cart</h3>
                <p class="mb-5 text-center">
                    <i class="text-info font-weight-bold">@Model.total</i> items in your cart
                </p>
                <table id="shoppingCart" class="table table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th style="width:60%">Product</th>
                            @* <th style="width:10%">Quantity</th> *@
                            <th style="width:16%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model.books)
                        {
                            <tr>
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-md-3 text-left">
                                            <img src="@item.Image" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                        </div>
                                        <div class="col-md-9 text-left mt-sm-2">
                                            <h4>@item.BookName</h4>
                                            <p class="font-weight-light">Brand &amp; Name</p>
                                        </div>
                                    </div>
                                </td>
                                @* <td data-th="Quantity">
                                    <input type="number" class="form-control form-control-lg text-center" value="1">
                                </td> *@
                                <td class="actions" data-th="">
                                    <div class="text-right">
                                        @* <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                            <i class="fas fa-trash"></i>
                                        </button> *@
                                        <div class="text-center" onclick="submitForm(this)">
                                            <form method="post">
                                                <input type="hidden" value="@item.Id" name="id" />
                                            </form>
                                            <a class="btn btn-outline-danger mt-auto" href="javascript:void(0);">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                        
                        
                    </tbody>
                </table>
                
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">
            <div class="col-sm-6 order-md-2 text-right">
                <a href="catalog.html" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Checkout</a>
            </div>
            <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                <a href="/Index">
                    <i class="fas fa-arrow-left mr-2"></i> Back to Home
                </a>
            </div>
        </div>
    </div>
</section>
<script>
    function submitForm(element) {
        var form = element.querySelector('form');
        form.submit();
    }

</script>