@page
@model Library_System.Pages.LoginModel
<form method="post">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<div class="card shadow-2-strong" style="border-radius: 1rem;">
					<div class="card-body p-5 text-center">
						<h3 class="mb-5">Sign in</h3>
						<div class="form-outline mb-4">
							<input placeholder="username"
								   asp-for="@Model.User.Username"
								   class="form-control form-control-lg" />
							<span asp-validation-for="User.Username" class="text-danger"></span>

						</div>
						<div class="form-outline mb-4">
							<input type="password" placeholder="password" asp-for="@Model.User.Password" class="form-control form-control-lg" />
							<span asp-validation-for="User.Password" class="text-danger"></span>

						</div>
						<div asp-validation-summary="All" class="text-danger"></div>

						<button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>