@page
@model Library_System.Pages.Books.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book.IsbCode" class="control-label"></label>
                <input asp-for="Book.IsbCode" class="form-control" />
                <span asp-validation-for="Book.IsbCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.BookName" class="control-label"></label>
                <input asp-for="Book.BookName" class="form-control" />
                <span asp-validation-for="Book.BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.CategoryId" class="control-label"></label>
                <select asp-for="Book.CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Book.AuthorId" class="control-label"></label>
                <select asp-for="Book.AuthorId" class ="form-control" asp-items="ViewBag.AuthorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Book.PublisherId" class="control-label"></label>
                <select asp-for="Book.PublisherId" class ="form-control" asp-items="ViewBag.PublisherId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Book.QuantityPerUnit" class="control-label"></label>
                <input asp-for="Book.QuantityPerUnit" class="form-control" />
                <span asp-validation-for="Book.QuantityPerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.UnitPrice" class="control-label"></label>
                <input asp-for="Book.UnitPrice" class="form-control" />
                <span asp-validation-for="Book.UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.UnitInStock" class="control-label"></label>
                <input asp-for="Book.UnitInStock" class="form-control" />
                <span asp-validation-for="Book.UnitInStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Year" class="control-label"></label>
                <input asp-for="Book.Year" class="form-control" />
                <span asp-validation-for="Book.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Image" class="control-label"></label>
                <input asp-for="Book.Image" class="form-control" />
                <span asp-validation-for="Book.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Description" class="control-label"></label>
                <input asp-for="Book.Description" class="form-control" />
                <span asp-validation-for="Book.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Language" class="control-label"></label>
                <input asp-for="Book.Language" class="form-control" />
                <span asp-validation-for="Book.Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.PrintLength" class="control-label"></label>
                <input asp-for="Book.PrintLength" class="form-control" />
                <span asp-validation-for="Book.PrintLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
